$k95: #1A1A1A;
$k85: #1A1A1A;
$k80: #262626;
$k75: #404040;
$k70: #4D4D4D;
$k65: #595959;
$k60: #666666;
$k55: #737373;
$k50: #808080;
$k45: #8C8C8C;
$k40: #999999;
$k35: #A6A6A6;
$k30: #B3B3B3;
$k25: #BFBFBF;
$k20: #CCCCCC;
$k18: #D1D1D1;
$k16: #D6D6D6;
$k14: #DBDBDB;
$k12: #E0E0E0;
$k10: #E6E6E6;
$k08: #EBEBEB;
$k06: #F0F0F0;
$k05: #F2F2F2;
$k04: #F5F5F5;
$k03: #F7F7F7;
$k02: #FAFAFA;
$k01: #FCFCFC;