<section>
  <header>Draft Manager</header>
  <div>
    <div ng-show="inState('upcoming')">
      <draft-form
        draft="draft" save="save"
      ></draft-form>
      <a ng-click="begin()">Begin</a>
      <a ng-click="abort()">Abort</a>
    </div>
    <div ng-show="pastState('upcoming')||inState('aborted')">
      <draft-details
        draft="draft"
      ></draft-details>
    </div>
  </div>
  <div>
    <participants
      draft="draft"
      participants="participants"
    ></participants>
  </div>
  <div ng-show="pastState('upcoming')">
    <drafting
      draft="draft"
      participants="participants"
    ></drafting>
  </div>
  <div ng-show="pastState('drafting')">
    <match-ups
      draft="draft"
      participants="participants"
    ></match-ups>
  </div>
  <a href="drafts">Return</a>
</section>