<section>
  <header>Draft Manager</header>
  <div>
    <div ng-show="draft.state == 'upcoming'">
      <draft-form
        draft="draft" save="save"
      ></draft-form>
      <a ng-click="begin()">Begin</a>
      <a ng-click="abort()">Abort</a>
    </div>
    <div ng-show="draft.state != 'upcoming'">
      <draft-details
        draft="draft"
      ></draft-details>
    </div>
  </div>
  <div>
    <participants
      draft="draft"
      participants="participants"
    ></participants>
  </div>
  <div ng-if="draft.state != 'upcoming' && draft.state != 'aborted'">
    <drafting
      draft="draft"
      participants="participants"
    ></drafting>
  </div>
  <div>
    <match-ups
      draft="draft"
      participants="participants"
    ></match-ups>
  </div>
  <a href="drafts">Return</a>
</section>