@()(user: common.models.User)(implicit request: RequestHeader)

@import _root_.common.controllers.{routes => commonRoutes}
@import _root_.manager.controllers.{routes => managerRoutes}
@helper.javascriptRouter("jsRoutes")(
  commonRoutes.javascript.Assets.at,
  managerRoutes.javascript.Assets.at,
  routes.javascript.Assets.at
)

<!DOCTYPE html>
<html lang="en" ng-app="home-draft">
<head>
    <base href="/view/@user.handle/">
    <meta charset="utf-8">
    <title>Home Draft</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <a href="/logout">Logout</a>
    <div ng-view></div>
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="@commonRoutes.Assets.at("components/jquery/jquery.min.js")"></script>
    <script type="text/javascript" src="@commonRoutes.Assets.at("components/angular/angular.min.js")"></script>
    <script type="text/javascript" src="@commonRoutes.Assets.at("components/angular-route/angular-route.min.js")"></script>
    <script type="text/javascript" src="@commonRoutes.Assets.at("components/angular-resource/angular-resource.min.js")"></script>
    <script>
      function mgr_partial(partial){
        return jsRoutes.manager.controllers.Assets.at("partials/"+partial+".html").url;
      }
    </script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/constants.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/services.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/directives.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/controllers.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
</body>

</html>
